
.article-title {
    font-size: 2.5rem;
    font-weight: 700;
    font-family: sans-serif;
}

.article-description {
    margin-top: 10px;
    color: #888;
    font-size: 1.25rem;
}

.article-card-image > img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    /*width: 66.6667%;*/
    min-width: 300px;
}

.article-overview{
    margin-bottom: 65px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    /*border-bottom: 2px solid rgba(0,0,0,0.1);*/
}

.article-content-block{
    display: flex;
    flex-direction: column;
    gap:15px;
}

.article-content-block p {
    font-size: 1.35rem;
    font-family: sans-serif;
    color: #888;
}
.full-width{
    width: 100%;
    height: auto;
}
.article-content-block h1,h2,h3{
    font-weight: bold;
}

.article-type-info{
    display: flex;
    flex-direction: row;
    font-weight: normal;
    font-family: sans-serif;
    letter-spacing: 0.1rem;
    font-size: 1rem;
}

.category-list-block{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap:10px;
}

.article-category-block{
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #4fb9e7;
}

.article-type-info .article-published__at{
    margin: auto;
}

code{
    border-radius: 10px;
    border: 2px solid rgba(0,0,0,0.1);
}

.article-actions-block{
    border-top: 1px solid rgba(0,0,0,0.1);
    padding: 1rem;
    display: flex;
    margin-top: 2rem;
    flex-direction: row;
    gap:15px;
}

.moderation{
    background: white;
    cursor:pointer;
    opacity: 0.4;
    z-index: 4;
}
.moderation:hover{
    background-color: white;
    opacity: 1.0;
    z-index: 4;
}

.moderation-active{
    opacity: 1.0;
    z-index: 5;
    background-color: white;
}

.moderation-active::before{
    position: absolute;
    font-size: 2rem;
    color: red;
    z-index: 999;
}

.moderation-overflow{
    display: none;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 150%;
    background: #052249;
    opacity: 0.9;
    z-index: 0;
}

.moderation-overflow h3{
    color: black;
}

.moderation-report-form{
    display: flex;
    flex-direction: column;

    gap:15px;

    color:black;
    padding: 0.75rem;
    position: fixed;
    right: 35px;
    top:50%;

    width: 20vw;
    opacity: 1;

    z-index: 20;

    background: white;
    border:10px solid lawngreen;
    border-radius: 10px;
}



.moderation-report__selected{
    display: block;
    flex-direction: column;
    width: 100%;
    height: 35%;
    padding: 2rem;

    border: 1px solid black;

    overflow-y: scroll;
}

.moderation-report__selected::-webkit-scrollbar {
    width: 7px;
    background-color: #f9f9fd;
}