
.article-title {
    font-size: 2.5rem;
    font-weight: 700;
    font-family: sans-serif;
}

.article-description {
    margin-top: 10px;
    color: #888;
    font-size: 1.25rem;
}

.article-card-image > img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    /*width: 66.6667%;*/
    min-width: 300px;
}

.article-overview{
    margin-bottom: 65px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    /*border-bottom: 2px solid rgba(0,0,0,0.1);*/
}

.article-content-block{
    display: flex;
    flex-direction: column;
    gap:15px;
}

.article-content-block p {
    font-size: 1.35rem;
    font-family: sans-serif;
    color: #888;
}
.full-width{
    width: 100%;
    height: auto;
}
.article-content-block h1,h2,h3{
    font-weight: bold;
}

.article-type-info{
    display: flex;
    flex-direction: row;
    font-weight: normal;
    font-family: sans-serif;
    letter-spacing: 0.1rem;
    font-size: 1rem;
}

.category-list-block{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap:10px;
}

.article-category-block{
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #4fb9e7;
}

.article-type-info .article-published__at{
    margin: auto;
}

code{
    border-radius: 10px;
    border: 2px solid rgba(0,0,0,0.1);
}

.article-actions-block{
    border-top: 1px solid rgba(0,0,0,0.1);
    padding: 1rem;
    display: flex;
    margin-top: 2rem;
    flex-direction: row;
    gap:15px;
}

.moderation{
    background: white;
    cursor:pointer;
    opacity: 0.4;
    z-index: 1000;
}
.moderation:hover{
    background-color: white;
    opacity: 1.0;
    z-index: 1000;
}

.moderation-active{
    opacity: 1.0;
    z-index: 1000;
    background-color: white;
}

.moderation-active::before{
    position: absolute;
    font-size: 2rem;
    color: red;
    z-index: 999;
}

.moderation-overflow{
    display: none;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 150%;
    background: #052249;
    opacity: 0.9;
    font-size: 1.75rem;
    z-index: 890;
}

.moderation-overflow h3{
    color: white;
    font-weight: bolder;
    font-size:3.5rem;
}

.moderation-report-form{

    display: flex;
    flex-direction: column;

    justify-content: space-between;

    gap:15px;

    padding: 0.75rem;
    position: fixed;
    right: 35px;

    background-color: #093caf;

    top:calc(50% - 25rem);

    opacity: 1;

    z-index: 999;

    border: 5px solid #0606b2;

    width: 35rem;
    min-height: 50rem;

    color:white;

    -webkit-box-shadow: 2px 3px 12px 14px rgba(34, 60, 80, 0.2);
-moz-box-shadow: 2px 3px 12px 14px rgba(34, 60, 80, 0.2);
box-shadow: 2px 3px 12px 14px rgba(34, 60, 80, 0.2);

    border-radius: 10px;
}

.moderation-report-form input, .moderation-report-form textarea{
    font-size: 1.02em;
}

.reported_item{
    display: block;
    width: 100%;
    padding:10px;
    font-size: 1.7rem;
    font-weight: bold;
    border: 1px solid #0d437a;
    margin-bottom: 10px;
    cursor: pointer;

    border-radius: 10px;

    background: #9bffee;
}

.moderation-report-title{
    display: flex;
    justify-content: space-between;
}

.moderation-report-close{
    cursor: pointer;
}

.moderation-report__selected{
    display: block;
    flex-direction: column;
    width: 100%;
    height: 35%;
    padding: 2rem;

    color: black;


    border: 1px solid black;

    overflow-y: scroll;
}

.moderation-report__selected::-webkit-scrollbar {
    width: 7px;
    background-color: #f9f9fd;
}

.report__button{
    border-radius: 10px;
    background: #73f654;
    color:white;
    padding: 0.7rem 1.05rem ;
    position: relative;
    border: 2px solid green;
}


.report__button:active{
    scale: 0.95;
}
@media screen and (max-width: 700px) {
    .button-report{
        display: none !important;
    }
    .article-actions-block{
        justify-content: center;
    }
    .article-type-info {
        flex-direction: column !important;
    }
    .category-list-block{
        display: none;
    }
}