
<style>
    .button-report{
        border: 2px solid #e3d544;
        display: flex;
        flex-direction: row;
        padding:10px 40px;
        font-weight: bold;
        font-size: 1.15rem;
        gap:10px;
        border-radius: 10px;
        user-select: none;
        cursor: pointer;
        margin-left: 2em;
}

.button-report__text{
    margin: auto 0;
    text-transform: uppercase;
}

</style>

<div class="button-report">
    <div class="button-report__text">Замечание</div>
</div>
