<style>
    .inform-block{
        width: 100%;
        min-height: 5rem;
        padding: 10px;
        border-radius: 5px;
        opacity: .8;
        text-wrap: normal;
        color:black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.25rem;
    }
    .green{
        background: #73f654;
        border: 2px solid green;
    }
    .red{
        background: #fd4a4a;
        border: 2px solid red;
    }
    .yellow{
        background: #ffff92;
        border: 2px solid yellow;
    }

</style>

{% if color == 'Зеленый' %}
    <div class="inform-block green">
        {{text}}
    </div>
{% elif color == 'Желтый' %}
    <div class="inform-block yellow">
        {{text}}
    </div>
{% else %}
    <div class="inform-block red">
        {{text}}
    </div>
{% endif %}