{% load wagtailimages_tags %}

<div class="slider-page-block col-lg-12">
    <div class="slider-page-card viewport">
        <div class="slider-wrapper">
            {% for page in pages %}
                    <div class="slider-item">
                        <div class="card-image-block me-lg-4 col-lg-6 col-sm-12 thubnail-high">
                            {% srcset_image page.specific.image_card width-{400,800} sizes="(max-height: 400px) 400px, 80vw" %}
                        </div>
                        <div class="card-description-block flex col-lg-6 col-md-4 col-sm-3 order-md-2 pt-2">
                            <div class="category-block-card">
                                {% for category in page.specific.category.all %}
                                    <div class="category-text">{{ category }}</div>
                                {% endfor %}
                            </div>
                            <div class="heading-block-card"><a href="{{ page.url }}">{{ page.specific.title }}</a></div>
                            <div class="description-card">{{ page.specific.description }}</div>
                        </div>
                    </div>
            {% endfor %}
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script>
    var slideNow = 1;
    var slideCount = $('.slider-wrapper').children().length;
    console.log(slideCount)
    const nextSlide = () => {
        if (slideNow == slideCount || slideNow <= 0 || slideNow > slideCount) {
            console.log("SHO", slideNow)
            $('.slider-wrapper').css('transform', 'translate(0, 0)');
            slideNow = 1;
        } else {
            console.log("Шо?", slideNow)
            translateWidth = -$('.viewport').width() * (slideNow);

            $('.slider-wrapper').css({
                'transform': 'translate(' + translateWidth + 'px, 0)',
                '-webkit-transform': 'translate(' + translateWidth + 'px, 0)',
                '-ms-transform': 'translate(' + translateWidth + 'px, 0)',
            });
            slideNow++;

        }
    }

     $(document).ready(function () {
        setInterval(nextSlide, 4500);
     })


</script>

