{% load wagtailimages_tags %}

<div class="small_card__block col-lg-3">
        <div class="small_card__image_block thubnail-small">
            {% srcset_image page.specific.image_card width-{400,800} sizes="(max-height: 400px) 400px, 80vw" %}
        </div>
        <div class="small_card__description-block order-md-2 pt-2 ">
            <div class="small-card__heading-block-card"><a href="{{ page.url }}">{{ page.specific.title }}</a></div>
            <div class="small-card__description-card ">{{ page.specific.description }}</div>
        </div>
</div>