{% extends "base.html" %}
{% load wagtailimages_tags %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/blog_app/article.css' %}">
{% endblock extra_css %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-8 gap-3">
        <div class="article-type-info flex flex-row mb-4">
            <div class="category-list-block">
                {% for category in page.specific.category.all %}
                    <div class="article-category-block">
                        {{category}}
                    </div>
                {% endfor %}
            </div>
            <div class="article-published__at ">{{page.first_published_at | date:'d.m.Y H:m'}}</div>
        </div>
        <div class="article-overview">
            <div class="article-title text-left">{{page.title}}</div>
            <div class="article-description">
                <p class="lead mb-4 text-left">{{page.description}}</p>
            </div>
            <div class="article-card-image text-center mb-4">
                {% srcset_image page.image_card width-{400,800,1200} sizes="(max-width: 1200px) 400px, 80vw" %}
            </div>
        </div>

        <div class="article-content-block flex">
            {% for block in page.content%}
                {% if block.block_type == 'richtext' %}
                    <div class="article-{{block.block_type}}">{{block.value}}</div>
                {% elif block.block_type == 'slider_image' %}
                    <div class="article-{{block.block_type}}">{% include 'blocks/image_slider.html' with images=block.value %}</div>
                {% elif block.block_type == 'inform_block' %}
                    <div class="article-{{block.block_type}}">{% include 'blocks/inform_block.html' with color=block.value.background text=block.value.text%}</div>
                {% elif block.block_type == 'table_image' %}
                    <div class="article-{{block.block_type}}">{% include 'blocks/table_image_block.html' with count_row=block.value.count_row count_column=block.value.count_column images=block.value.images %}</div>
                {% elif block.block_type == 'code' %}
                    <div class="article-{{ block.block_type }}">{{block}}</div>
                {% endif %}
            {% endfor %}
        </div>

        <div class="article-actions-block col-lg-6">
            {% include 'blocks/button_like.html' with liked=True %}
            {% include 'blocks/button_report.html' %}
        </div>
    </div>

    <div class="moderation-overflow">
        >
        <div class='moderation-report-form'>
            <h3>Данные заявки</h3>
            <div class="moderation-report__selected">

            </div>

            <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label">Email address</label>
                  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>

            <div class="mb-3">
                  <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
        </div>
    </div>



</div>
{% endblock %}

{% block extra_js %}
    <script>
        $(document).ready(()=> {
            $('.button-report').click(() => {

                $('.moderation-overflow').toggle()

                const content_blocks = $('.article-content-block').children('div')

                $.each(content_blocks, (index, value) => {
                    console.log('toggle', index, value)
                    $(value).toggleClass('moderation')
                })
            })

            $(document).on('click','.moderation', function(e){
                console.log(e.currentTarget)
                $(e.currentTarget).toggleClass('moderation-active')
                console.log("flower")
                console.log($('.moderation-report__selected').text())
            })

        })




    </script>
{% endblock %}