
html {
    font-size: 14px;
}

body {
    max-width: 1250px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0 15px;
    color: #231f20;
    font-family: 'Helvetica Neue', 'Segoe UI', Arial, sans-serif;
    line-height: 1.25;
    display: flex;
    flex-direction: column;
}

content {

}

.site-navigation {
    padding-top: 15px;
}

.navigation-border-block {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 5px;
}

.logo {
    font-size: 1.5rem;
    color: #000 !important;
    text-decoration: none;
    font-weight: bold;
}



.navigation {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0.25rem;
    display: flex;
    flex-direction: row;
}

.nav-menu-block {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    float: right;
    -webkit-box-shadow: -3px 4px 22px -4px rgba(0, 0, 0, 0.86);
    box-shadow: -3px 4px 22px -4px rgba(0, 0, 0, 0.86);
    height: calc(100vh);
    z-index: 1000;
    background: white;
}

.nav-menu-block .close-menu-block {
    padding: 0 1.2rem;
    display: flex;
    justify-content: flex-end;
}

.nav-menu-block .close-menu-block svg {
    cursor: pointer;
}

.nav-list {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.nav-list .nav-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    line-height: normal;
    height: 2.5rem;
    font-size: 1.45rem;
    padding: 25px 10px;
    font-weight: lighter;
    cursor: pointer;
}

.nav-item .active {
    color: orange;
}
.nav-item span a{
    color:black;
}

.nav-item span a:visited{
    color:black;
}

.nav-item.active span a{
    color:orange;
}

.nav-item span a:hover {
    color: orange;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 1px solid #e6e6e6;
    height: 15rem;
    margin-top: auto;
    padding: 1.7rem 0;
}

.footer_content{
    display: flex;
    gap: 1rem;
    overflow-x: clip;
    width: 100%;
}

footer .footer__logo {
    text-align: center;
    font-weight: bolder;
    font-family: 'Helvetica Neue', 'Segoe UI', Arial, sans-serif;
    line-height: 1.25;
    font-size: 1.75rem;
    text-align: center;
    color: #231f20;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
}
.social__footer{
    flex-direction: column;
}
.footer__text{
    text-align: center;
    text-wrap: normal;
    font-weight: lighter;
    color: #8f8888;
    width: 66%;
}

span.social{
    cursor: pointer;
}

a{
    text-decoration: none;
}


content {
    display: block;
    padding: 40px 0;
}

body::-webkit-scrollbar {
  width: 12px;               /* ширина scrollbar */
}
body::-webkit-scrollbar-track {     /* цвет дорожки */
}
body::-webkit-scrollbar-thumb {
  background-color: blue;    /* цвет плашки */
  border-radius: 20px;       /* закругления плашки */
  border: 3px solid orange;  /* padding вокруг плашки */
}